/* groupeair */
.card_air {
	position: absolute;
	width: 356px;
	height: 512px;
	left: 249px;
	top: 52px;
}

/* groupeHum */

.card_hum {
	position: absolute;
	width: 347px;
	height: 512px;
	left: 648px;
	top: 52px;
}

/* groupe C02 */

.card_co2{
	position: absolute;
	width: 354px;
	height: 512px;
	left: 1038px;
	top: 52px;
}

.card_grid {
	position: absolute;
	left: 5%;
	top: 5%;
	display: grid;
	grid-template-rows: repeat(1,1fr);
	grid-template-columns: repeat(3,1fr);
	gap: 0px 15%;
}